main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

.container {
 display: grid;
  grid-template-columns: 2fr 1fr;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
